<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <!-- Bootstrap CSS (для примера, можно использовать другие стили) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    Error
                </div>
                <div class="card-body">
                    <h5 class="card-title">К сожалению, произошла ошибка</h5>
                    <p class="card-text" th:text="${error}"></p>
                    <a href="/" class="btn btn-primary">Go back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
