<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Balance</title>
</head>
<body>
<h1>Total Balance</h1>
<div id="total-balance"></div>

<script>
    // Функция для выполнения GET-запроса к /total-balance
    function getTotalBalance() {
        fetch('/total-balance')
            .then(response => response.json())
            .then(data => {
                // Обновляем содержимое элемента total-balance полученными данными
                document.getElementById('total-balance').innerText = `Total Balance: ${data} USD`;
            })
            .catch(error => console.error('Error:', error));
    }

    // Вызываем функцию при загрузке страницы
    window.onload = getTotalBalance;
</script>
</body>
</html>
